.bg-dark {
    background-color: $dark;
    a {
        color: $white;
    }
}
.bg-primary {
    a {
        color: $white;
    }
}
.bg-gray {
    background-color: #f1f1f1;
}
// - Position Css
@media screen and (min-width: map-get($grid-breakpoints, xl)) {
    .position-xl-relative {
        position: relative !important;
    }
    .position-xl-absolute {
        position: absolute !important;
    }
}
@media screen and (min-width: map-get($grid-breakpoints, lg)) {
    .position-lg-relative {
        position: relative !important;
    }
    .position-lg-absolute {
        position: absolute !important;
    }
}
@media screen and (min-width: map-get($grid-breakpoints, md)) {
    .position-md-relative {
        position: relative !important;
    }
    .position-md-absolute {
        position: absolute !important;
    }
}
@media screen and (min-width: map-get($grid-breakpoints, sm)) {
    .position-sm-relative {
        position: relative !important;
    }
    .position-sm-absolute {
        position: absolute !important;
    }
}
    
    
// Z-index
.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}
.z-3 {
    z-index: 3;
}
// Font size
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}

// - Section Space Css
.px-50 {
    padding-left: 50px;
    padding-right: 50px;
    @media #{$tablet-device} {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media #{$large-mobile} {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.section-space-ptb {
    padding-top: 90px;
    padding-bottom: 90px;
}
.section-space-pt {
    padding-top: 90px;
}
.section-space-pb {
    padding-bottom: 90px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.py-7px {
    padding-top: 7px;
    padding-bottom: 7px;
}
.py-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}
    
// Border Css

.border-top-1 {
    border-top: 1px solid #ebebeb
}
.border-bottom-1 {
    border-bottom: 1px solid #ebebeb
}
.border-block-1 {
    border-block: 5px solid #ebebeb;
}
.max-w-400 {
    max-width: 400px;
}
.w-full {
    width: 100%;
}