/*--------------------------
    - Blog Post Card
--------------------------*/
.blog-post-card {
    position: relative;
    overflow: hidden;
    display: block;
    &-thumbnail {
        display: block;
        img {
            width: 100%;
            height: auto;
            transition: all 0.3s ease-in-out;
            object-fit: cover;
            aspect-ratio: 3/2;
        }
    }
    &-content {
        margin-top: 28px;
    }
    &-meta {
        display: flex;
        gap: 10px;
        &-category{
            text-transform: uppercase;
            &:not(:last-child) {
                &::after {
                    content: ",";
                }
            }
        }
    }
    &-title {
        margin-top: 10px;
    }
    &-excerpt {
        margin-top: 15px;
        font-size: 16px;
    }
    &-link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: #313030;
        padding-bottom: 4px;
        text-decoration: none;
        font-weight: 500;
        &:after {
            content: "";
            background: #313030;
            height: 2px;
            width: 40px;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all .3s ease-in-out;
        }
        &:hover {
            &:after {
                width: 100%;
                background: $primary;
            }
        }
    }

    &-mask {
        .blog-post-card {
            &-content {
                padding: 0 30px;
                padding-bottom: 25px;
                position: absolute;
                color: #fff;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: end;
                margin: 0;
                transition: all 0.3s ease-in-out;
                z-index: 1;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.7) 100%);
                @media #{$large-mobile} {
                    padding-bottom: 15px;
                }
            }
            &-title,
            &-meta {
                color: $white;
                transition: all 0.3s ease-in-out;
                a {
                    &:hover {
                        text-decoration: underline;
                        color: $white;
                    }
                }
            }
            .blog-post-card-meta-category {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &:hover {
            .blog-post-card {
                &-meta,
                &-title {
                    transform: translateY(-10px);
                }
            }
        }
    }
    
    &-list {
        display: flex;
        gap: 30px;
        @media #{$large-mobile} {
            flex-direction: column;
        }
        .blog-post-card {
            &-thumbnail {
                flex: 0 0 390px;
                max-width: 390px;
                @media #{$large-mobile} {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            &-content {
                margin-top: 0;
            }
        }
    }
}