/*----------------------------
    - Blog Widgets Css
------------------------------*/

.blog-widget {
    & ~ .blog-widget {
        margin-top: 43px;
        border-top: 1px solid #ebebeb;
        padding-top: 43px;
    }
    &-title {
        margin-bottom: 25px;
    }
    &_search {
        &-form {
            display: flex;

        }
        &-input {
            width: 100%;
            border: 1px solid #ebebeb;
            padding: 10px;
        }
        &-button {
            padding: 0 15px;
            margin-left: 5px;
            text-align: center;
            line-height: 42px;
            height: auto;
            border: 0;
            background: #313030;
            color: #fff;
        }
    }
}

.widget-post {
    &-item {
        & ~ .widget-post-item {
            margin-top: 12px;
        }
    }
    &-link {
        font-size: 16px;
        margin-bottom: 0;
        
    }
    &-tag-list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    &-tag-link {
        border: 1px solid #ebebeb;
        background-color: transparent;
        padding: 3px 12px;
        font-size: 16px;

        &:hover {
            background-color: $primary;
            border-color: $primary;
            color: $white;
        }
    }
}