/* ==========================
    - Button Css
==============================*/
.btn {
    border-radius: 5px;
    & > svg {
        width: 24px;
        height: 24px;
    }
    &-xs {
        padding: 0 10px;
        font-size: 14px;
    }
    &-sm {
        padding: 4px 10px;
        font-size: 14px;
    }
    &-md {
        padding: 10px 25px;
        font-size: 16px;
        @media #{$large-mobile} {
            padding: 7px 20px;
        }
    }
    &-lg {
        padding: 10px 37px;
        font-size: 16px;
        @media #{$tablet-device} {
            padding: 8px 25px;
        }
        @media #{$large-mobile} {
            padding: 4px 18px;
        }
        
    }
    &-full {
        width: 100%;
    }
    &-primary {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        &:hover {
            background-color: $dark;
            border-color: $dark;
            color: $white;
        }
    }
    &-light {
        background-color: $white;
        border-color: $white;
        color: $black;
        &:hover {
            background-color: $dark;
            border-color: $dark;
            color: $white;
        }
    }
    &-dark {
        background-color: $dark;
        border-color: $dark;
        color: $white;
        &:hover {
            background-color: $primary;
            border-color: $primary;
            color: $white;
        }
    };
    &-gray {
        background-color: $gray;
        border-color: $gray;
        color: $black;
        &:hover {
            background-color: $dark;
            border-color: $dark;
            color: $white;
        }
    }
    &-outline {
        background-color: transparent;
        border-color: $primary;
        color: $primary;
        border: 2px solid $primary;
        &:hover {
            background-color: $primary;
            border-color: $primary;
            color: $white;
        }
    }
    &-outline-light {
        background-color: transparent;
        border-color: $white;
        color: $white;
        border: 2px solid $white;
        &:hover {
            background-color: $white;
            border-color: $white;
            color: $black;
        }
    }
    &-outline-dark {
        background-color: transparent;
        border-color: $dark;
        color: $dark;
        border: 2px solid $dark;
        &:hover {
            background-color: $dark;
            border-color: $dark;
            color: $white;
        }
    }
    &-rounde-circle {
        border-radius: 100%;
    }
    &-rounde-pill {
        border-radius: 50px;
    }
    &-rounde-2 {
        border-radius: 2px;
    }
    &-rounde-4 {
        border-radius: 4px;
    }
    &-close {
        &:focus {
            outline: none;
            box-shadow: none
        }
    }
}