/*----------------------------
    - Checkout Page Css
------------------------------*/
// Coupon Form
.coupon-form {
    &-toggle {
        border-top: 2px solid #313030;
        padding: 1em 2em 1em 3.5em;
        margin: 0 0 2em;
        position: relative;
        background-color: #f7f6f7;
        color: #515151;
        list-style: none outside;
        width: auto;
        font-size: 16px;
    }
    &-content {
        margin-bottom: 30px;
        padding: 30px 25px;
        max-width: 450px;
        border: 2px dashed #DDD;
        text-align: center;
        border-radius: 0;
        display: none;
    }
}
.coupon-toggle-text {
    cursor: pointer;
    color: $black;
}
.coupon-form-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.coupon-input {
    width: auto;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #ebebeb;
}

// Billing Address Css

.checkout-form {
    &-row {
        margin-top: 10px;
    }
    &-input,
    &-select,
    &-textarea {
        padding: 5px 15px;
        max-width: 100%;
        width: 100%;
        height: 42px;
        border: 1px solid #ebebeb;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        vertical-align: middle;
        font-size: 16px;
    }
    &-textarea {
        height: 200px;
    }
    &-label {
        display: block;
        margin-bottom: 5px;
        color: #464646;
        font-weight: 400;
        font-size: 16px;
    }
}
.checkout-account-create,
.ship-box-info {
    display: none;
}

// Order Summary Css
.order-summary {
    background: #F8F8F8;
    padding: 30px;
    border: 5px double #e0e0e0;
    &-table {
        background-color: $white;
        padding: 15px
    }
    table th, 
    table td {
        border-bottom: 1px solid #d8d8d8;
        border-right: medium none;
        font-size: 16px;
        padding: 15px 0;
        text-align: center;
    }
    table th {
        border-top: medium none;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        white-space: nowrap;
        width: 250px;
    }
    
}



// Payment Method Css

.payment-method-accordion {
    margin-bottom: 30px;
    &-card {
        padding: 0px 0;
        & ~ .payment-method-accordion-card {
            margin-top: 10px
        }
        &-header {
            & > button {
                font-size: 16px;
                font-weight: 400;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 0;
                padding-left: 22px;
                border: 0;
                background-color: rgba(0,0,0,0);
                width: 100%;
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    margin-top: 0px;
                    content: "";
                    transform: translateY(-50%);
                    border: 1px solid #333;
                    border-radius: 50%;
                }
                &::after {
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    width: 9px;
                    height: 9px;
                    margin-top: 0px;
                    content: "";
                    transition: all .5s ease 0s;
                    transform: translateY(-50%);
                    opacity: 0;
                    border-radius: 50%;
                    background-color: #333;
                }
                img {
                    height: 40px;
                    margin: 0 10px;
                }
            }
        }
        &.active {
            .payment-method-accordion-card-header button::after {
                opacity: 1;
            }
        }
        &-body {
            position: relative;
            background: #dfdcde;
            padding: 20px;
            font-size: 16px;
            margin-top: 5px;
            &::before {
                position: absolute;
                top: -5px;
                left: 25px;
                width: 10px;
                height: 10px;
                content: "";
                transform: rotate(45deg);
                background-color: #dfdcde;
            }
        }
    }
}

    