/* ==========================
    - Deal Offer CSS
==============================*/
.deal-offer-title {
    font-size: calc(1.375rem + 1.9vw);
}
.deal-offer-section {
    position: relative;
}
.deal-offer-bg-image {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media #{$large-mobile, $tablet-device} {
            height: 500px;
        }
    }
}
.bg-deal-section-01 {
    background-image: url("../images/deal-offer/deal-banner-bg-1.jpg");
    background-color: #FFF0E9;
    background-size: cover;
}
.deal-banner-section {
    position: relative;
    .product-deal-bg {
        & > img {
            width: 100%;
            object-fit: cover;
            @media #{$large-mobile} {
                height: 400px;
            }
        }
    }
}
.deal-inner-image {
    margin-top: 30px;
    margin-bottom: 30px;
    img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    &-01 {
        border-radius: 100% 100% 0 0;
    }
    &-02 {
        border-radius: 0 0  100% 0;
    }
}