/* ==========================
    - Login Form CSS
==============================*/
.sign-in {
    &-tablist {
        border-bottom: 2px solid #ebebeb;
    }
    &-tab {
        &--item {
            display: flex;
            flex-grow: 1;
            flex-basis: 0;
            text-align: center;
            position: relative;
            .sign-in-tab--link.active {
                color: $primary;
                &:after {
                    content: "";
                    width: 100%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    position: absolute;
                    bottom: -2px;
                    height: 2px;
                    background: $primary;
                }
            }
        }
        &--link {
            padding: 10px 0;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            display: block;
            width: 100%;
            position: relative;
        }
    }
}

.account-form {
    &-box {
        margin-top: 20px;
    }
}
.single-input {
    &-gruop ~ .single-input-gruop {
        margin-top: 10px;
    }
    &-fild {
        border: 1px solid #ebebeb;
        padding: 10px 15px;
        width: 100%;
        border-radius: 0px;
        font-size: 16px;
        color: #333;
        &:focus {
            outline: none;
            border-color: $primary;
        }
    }
    &-label {
        display: block;
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
    }
}