/* ==========================
    - Product Details CSS
==============================*/

.product-item {
    &-details {
        &-description {
            border-bottom: 1px solid $gray;
            padding-bottom: 23px;
            margin-bottom: 30px;
        }
    }
    &-quantity {
        border: 2px solid $gray-300;
        display: inline-flex;
        flex-wrap: nowrap;
        border-radius: 5px;
        &-button {
            border: none;
            background: transparent;
            height: 48px;
            width: 32px;
            text-align: center;
            font-size: 18px;
            @media #{$large-mobile} {
                height: 35px;
            }
        } 
        &-input {
            border: none;
            width: 30px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: $gray-700;
            padding: 0;
            margin: 0;
        }
    }
    &-wishlist-action {
        font-size: 16px;
        display: flex;
        align-items: center;
        i {
            margin-right: 5px;
            font-size: 20px;
        }
    }
    &-stock {
        font-size: 16px;
        color: $gray-700;
        margin-top: 5px;
        &-in {
            color: #77a464;
        }
    }
}

.product-details-navigation {
    &-next,
    &-prev {
        &::after {
            content: "";
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        background-color: transparent;
        color: $primary;
        font-size: 30px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        left: 10px;
        right: auto;
        &:hover {
            color: $black;
        }
    }
    &-next{
        right: 10px;
        left: auto;
    }
}

// 
.slider-gallary-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.slider-thumb-aside {
    width: 150px;
    height: 630px;
    @media only screen and (min-width: 1200px) and (max-width: 1420px) {
        height: 500px;
        width: 115px;
    }
    @media #{$laptop-device} {
        height: 420px;
        width: 100px;
    }
    @media #{$tablet-device} {
        height: 520px;
        width: 120px;
    }
    @media #{$large-mobile} {
        height: 420px;
        width: 100px;
    }
    @media #{$small-mobile} {
        height: 320px;
        width: 100px;
    }
}
.slider-gallery-box {
    width: calc(100% - 170px);
    @media only screen and (min-width: 1200px) and (max-width: 1420px) {
        width: calc(100% - 135px);
    }
    @media #{$laptop-device} {
        width: calc(100% - 115px);
    }
    @media #{$tablet-device} {
        width: calc(100% - 135px);
    }
    @media #{$large-mobile} {
        width: calc(100% - 115px);
    }
}
.gallery-thumbs {
    .swiper-slide {
        img {
            transition: 0.3s;
        }
        &-active {
            opacity: 1;
        }
    
        &-thumb-active {
            opacity: 0.6;
        }
    }
}

// Product Details Css

.product-tab-info {
    &-link {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        padding: 0;
        font-size: 20px;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 2px;
        font-weight: 400;
        margin: 0 15px;
        &::after {
            background: $primary;
            content: "";
            height: 2px;
            width: 0;
            bottom: -1px;
            left: 0;
            position: absolute;
            transition: all 0.3s ease-in-out;
        }
        &.active,
        &:hover {
            &::after {
                width: 100%;
            }
            color: $primary;
        }
    }
    
}

.product-review {
    &-item {
        display: flex;
        &-avator {
            flex: 0 0 80px;
            margin-right: 20px;
            img { 
                border-radius: 50%;
            }
        }
        &-content-meta {
            font-size: 16px;
            margin: 10px 0;
            display: block;
        }
    }
}

.comment-form {
    &-group {
        margin-top: 15px;
    }
    &-label {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 5px;
        display: block;
    }
    
    &-textarea,
    &-input {
        width: 100%;
        border: 1px solid #f0f0f0;
        border-radius: 0;
        padding: 10px;
        width: 100%;
    }
    &-textarea {
        height: 185px;
        min-height: 85px;
    }
}

.additional-info-table {
    border: 0;
    border-top: 1px dotted rgba(0,0,0,.1);
    margin-bottom: 1.618em;
    width: 100%;
    &-item {
        &__label {
            width: 150px;
            font-weight: 700;
            padding: 8px;
            border-top: 0;
            border-bottom: 1px dotted rgba(0,0,0,.1);
            margin: 0;
            line-height: 1.5;
        }
    
        &__value {
            font-style: italic;
            padding: 0;
            border-top: 0;
            border-bottom: 1px dotted rgba(0,0,0,.1);
            margin: 0;
            line-height: 1.5;
        }
    }
}


// Images Zooming Css 
.zoom-item {
    position: relative;
    overflow: hidden;
    & > img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.5);
        }
    }
}


.product-item-details-box.sticky-top {
    top: 75px;
}

// Product info in accordion css
.product-info-accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
    font-size: 20px;
    color: $dark;
    text-align: left;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: transform 0.2s ease-in-out;
    border-bottom: 1px solid #ebebeb;;
    &::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform 0.2s ease-in-out
    }
    &:not(.collapsed):after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-180deg);
    }
}
.accordion-body-content {
    padding: 15px;
    border: 1px solid #ebebeb;
    border-top: 0;
}

// Radio Button Css
.product-color-radio-wrap,
.product-size-radio-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.product-color-radio-buttons {
    display: flex;
    gap: 3px;
    input[type="radio"] {
        display: none;
    }    
    .color-lable {
        display: inline-block;
        width: 18px;
        height: 18px;
        cursor: pointer;
        border-radius: 5000px;
        margin: 3px;
        position: relative;
        &:before {
            content: "";
            left: -3px;
            right: -3px;
            top: -3px;
            bottom: -3px;
            border: 1px solid transparent;
            position: absolute;
            border-radius: 100%;
            pointer-events: none;
        }
        &-black {
            background-color: #000;
        }
        &-green {
            background-color: #047fab;
        }
        &-gray {
            background-color: #f0f0f0;
        }
    }        
    input[type="radio"]:checked+.color-lable {
        &-black,
        &-green,
        &-gray {
            &:before {
                border-color: currentColor;
            }   
        }
    }
}

.product-size-radio-buttons {
    display: flex;
    gap: 10px;
    input[type="radio"] {
        display: none;
    }    
    .size-lable {
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        position: relative;
        border: 1px solid #f0f0f0;
        text-align: center;
        text-transform: uppercase;
    }        
    input[type="radio"]:checked+ .size-lable {
        border-color: $black;
        color: $black;
    }
}