/*--------------------------
    - Shop Widgets
---------------------------- */
.shop-sidebar {
    @media #{$large-mobile, $tablet-device} {
        margin-top: 60px;
    }
}
.shop-sidebar-widget {
    &-title {
        margin-bottom: 20px;
    }
    &-list {
       &-item {
            margin-bottom: 10px;
            font-size: 16px;
       } 
       &-link {
       }
    }
    &:not(:last-child) {
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
    }
    & ~ .shop-sidebar-widget {
        margin-top: 30px;
    }
    input[type=checkbox] {
        accent-color: $primary;
    }
}

/*
* Shop Filter
*/

.filter-slider {
    height: 2px;
    position: relative;
    background: #d8d8d8;
    border-radius: 5px; 
    .filter-progress {
        height: 100%;
        position: absolute;
        border-radius: 5px;
        background: $primary;
    }
}
.filter-range-input {
    position: relative;
}
.filter-range-input input {
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.filter-range-input input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    width: 6px;
    height: 6px;
    box-shadow: 0 0 0 3px $primary;
    background-color: #ffffff;
    cursor: ew-resize;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
}
.filter-range-input input[type=range]::-moz-range-thumb {
    border: none;
    z-index: 2;
    width: 6px;
    height: 6px;
    box-shadow: 0 0 0 3px $primary;
    background-color: #ffffff;
    cursor: ew-resize;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
}
.filter-price-value {
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #494949;
    display: flex;
    align-items: center;
  }
.filter-price-value input {
    width: 40px;
    text-align: center;
    border: 0;
    background: none;
    padding: 0;
    font-size: 14px;
    color: #494949;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.filter-price-value span {
    margin: 0 2px;
}
.filter-price-btn {
    font-size: 14px;
    display: inline-block;
    border: 1px solid #dedede;
    background: transparent;
    color: #171717;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    padding: 10px 27px;
}
.filter-price-btn:hover {
    background-color: $black;
    border-color: $black;
    color: #ffffff;
}
  
/*
* Size
*/
.shop-sidebar-widget-list {
    &-size {
        display: flex;
        flex-wrap: wrap;
        & .shop-sidebar-widget-list-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}


/*
* Shop Tags
*/

.shop-sidebar-widget-list {
    &-tags {
        & .shop-sidebar-widget-list-link {
            display: inline-block;
            vertical-align: top;
            color: #707070;
            text-decoration: none;
            margin: 0 6px 10px 0;
            padding: 0 17px;
            line-height: 38px;
            border: 1px solid #ebebeb;
            font-size: 15px;
            border-radius: 5px;
            &:hover {
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }
    }
}


/*
* Shop top bar filter
*/
.shop-toolbar-filter-area {
    display: flex;
    flex-wrap: wrap;
}
.top-filter {
    &-widget{
        position: relative;
        &-title {
            font-size: 14px;
            background: #fff;
            border: 1px solid #ebebeb;
            padding: 8px 15px;
            margin: 0;
            border-radius: 3px;
            cursor: pointer;
            display: inline-block;
            position: relative;
            &:hover {
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
            &:after {
                position: static;
                margin-left: 5px;
                font-family: $icon-font-family;
                content: "\f078";
                font-weight: 600;
                font-size: 8px;
                vertical-align: middle;
                transition: all 0.3s ease-in-out;
            }
        }
        & .shop-sidebar-widget-list {
            width: 255px;
            position: absolute;
            left: 0;
            top: 90%;
            border: 1px solid #ebebeb;
            padding: 20px 15px;
            list-style: none;
            z-index: 9;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            margin: -1px 0 0;
            max-height: 300px;
            overflow-y: auto;
            transition: all .3s ease-in-out;
        }
        &:hover {
            .shop-sidebar-widget-list {
                top: 105%;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }
}

