
/*--------------------------
    - Table Cart & wishlist page
---------------------------- */

.cart-wishlist-table {
    .remove a{
        display: block;
        font-size: 20px;
        height: 1em;
        width: 1em;
        text-align: center;
        line-height: 1;
        border-radius: 100%;
        color: red;
        text-decoration: none;
        font-weight: 700;
        &:active {
            border: none;
        }
    }
    & th,td {
        &:not(:first-child){
            min-width: 130px;
        }
    }
    & th {
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        color: $black;
    }
    & td {
        font-size: 16px;
        &.price,
        &.quantity,
        &.subtotal,
        &.stock-status {
            text-align: center;
        }
    }
    .thumbnail {
    }
}
.cart-coupon {
    display: flex;
    gap: 10px;
    &> input {
        border: 1px solid #ebebeb;
        border-radius: 0;
        padding: 6px 15px;
    }
}

// Cart Totals section css
.cart_totals {
    float: none;
    width: 100%;
    border: 2px solid #ebebeb;
    padding: 30px 30px;
}
.cart-totals-table {
    tr {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
    }
    & th {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: $black;    
        border: none;
    }
    & td {
        font-size: 16px;
        border: none;
    }
}
.order-total-title {
    font-size: 20px;
}
.order-total-amount {
    font-size: 26px;
    font-weight: 600;
    color: $black;
}
.stock-status {
    color: green;
}