/*----------------------------
    - Team Card Css
------------------------------*/
.team-item {
    &-card {
        margin-top: 30px;
        &:hover {
            .team-item-img {
                opacity: 0.8;
            }
        }
    }
    &-img {
        transition: all 0.3s ease-in-out;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &-content {
        margin-top: 20px;
        text-align: center;
    }
    &-subtitle{
        font-size: 16px;
    }
}