// 2.0 - Header
/*--------------------------
    - Notification Bar Css
----------------------------*/
.topbar-close-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: $white;
    font-size: 16px;
    display: inline-block;
    height: auto;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        opacity: .7;
    }
}
.notification-bar-area {
    padding: 7px 0;
}

.header-top-area-left-side,
.header-top-area-right-side {
    padding: 8px 0;
    gap: 40px;
    @media #{$tablet-device, $large-mobile} {
        gap: 30px;
        padding: 0px 0;
    }
    &-item {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 1px;
            height: 14px;
            top: 50%;
            transform: translateY(-50%);
            right: -20px;
            background-color: #ebebeb;
            @media #{$tablet-device, $small-mobile} {
                right: -15px;
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}
/*--------------------------
    - Top Bar Menu Css
----------------------------*/
.top-bar-item-menu {
    li {
        position: relative;
        a {
            i {
                font-size: 10px;
            }
        }
        &:hover {
            .top-bar-item-menu-dropdow { 
                top: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    
    &-dropdow {
        position: absolute;
        top: 150%;
        z-index: 999;
        list-style: none;
        left: auto;
        right: 0;
        margin: 0;
        border-radius: 0;
        background: #fff;
        text-align: left;
        padding: 0;
        border: 0;
        min-width: 160px;
        box-shadow: none;
        opacity: 0;
        visibility: hidden;
        border: 1px solid #e2e2e2;
        transition: all 0.3s ease-in-out;
        a {
            padding: 7px 19px;
            line-height: 24px;
            display: block;
            color: #333;
            &:hover,
            &.active {
                background-color: #f5f5f5;
            }
        }
    }
    &.top-bar-menu-left {
        & .top-bar-item-menu-dropdow {
            left: 0;
            right: auto;
        }
    }
    
}
/*--------------------------
    - Logo Css
----------------------------*/
.logo {
    a {
        display: inline-block;
        padding: 10px 0;
        img {
            max-width: 110px;
            width: 100%;
        }
    }
}
/*--------------------------
    - Header Action Css
----------------------------*/

.header-action {
    gap: 5px;
    @media #{$extraBig-device, $desktop-device, $laptop-device} {
        gap: 22px;
    }
    &-item {
        position: relative;
        background-color: transparent;
        border: 0;
        padding: 0 2px;
        background: 0 0;
        font-size: 22px;
        line-height: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
        display: inline-block;
        vertical-align: top;
        color: $dark;
        & .fa-solid fa-magnifying-glass {
            font-size: 21px;
        }
        &-count {
            font-size: 13px;
            margin-left: -9px;
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
    .bg-lg-transparent {
        background: transparent !important;
    }
}
@media screen and (min-width: map-get($grid-breakpoints, md)) {
    .bg-md-transparent {
        background: transparent !important;
    }
}
@media screen and (min-width: map-get($grid-breakpoints, sm)) {
    .bg-sm-transparent {
        background: transparent !important;
    }
}

/*----------------------------------------*/
/*   - Sticky Header CSS
/*----------------------------------------*/
.sticky-header {
    width: 100%;
    &.is-sticky {
        position: fixed;
        z-index: 99;
        width: 100%;
        top: 0;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
    }
    &.dark-sticky-header {
        &.is-sticky {
            background-color: rgba(0, 0, 0, 0.95);
            box-shadow: 0 1px 3px rgba(0,0,0,.1);
        }
    }
}