/* -------------------------------
    2.1 - Footer
----------------------------------*/
.footer-widget {
    margin-bottom: 80px;
    @media #{$large-mobile} {
        margin-bottom: 40px;
    }
    &--title {
        text-transform: capitalize;
        margin-bottom: 24px;
    }
}

/* -------------------------------
    - Footer Widget Css
----------------------------------*/
.widget {
    &--menu {
        &-item {
            display: block;
            margin-bottom: 11px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-link {
            font-size: 16px;
            position: relative;
            &::after {
                position: absolute;
                left: 0;
                content: "";
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: $primary;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}
/* -------------------------------
    - Footer Widget Newsletter
----------------------------------*/
.widget-newsletter {
    &-from{
        position: relative;
    }  
    &-input {
        position: relative;
        height: 51px;
        border: 2px solid #313030;
        padding: 0 15px;
        padding-right: 140px;
        border-radius: 0;
        font-size: 16px;
        color: $primary;
        width: 100%;
        background: #fff;
        &::placeholder {
            color: $secondary;
        }
    }
    &-button{
        position: absolute;
        right: 5px;
        top: 5px;
        line-height: 31px;
        padding: 4px 20px!important;
        font-size: 14px !important;
    }
}